/* ----------------- page & body styling -----------------  */

.header {
    position: relative;
    text-align: center;
}


/* ----------------- background image styling -----------------  */

#bgimage {
    position: relative;
    background-image: url('../pics/headers/riverbg.jpg');
    background-size: cover;
    height: 16vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#wave {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    z-index: 5;
    /* Ensure the SVG is below the text */
}

/* ----------------- profile card styling -----------------  */

.profile-card-container {
    display: flex;
    justify-content: center;
}

.profile-card {
    margin-top: 20%;
    justify-content: center;
    align-items: center;
    width: 80vw;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 24px;
    padding: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.profile-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 35%;
    width: 100%;
    border-radius: 24px 24px 0 0;
    background-color: rgba(48, 70, 56, 1);
}

.me-pic {
    position: relative;
    height: 14vh;
    border-radius: 50%;
    background-color: #313f32;
    padding: 2px;
    margin-bottom: 10px;
}

.me-pic img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}

.text-data h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
    padding: 10px;
}

.name {
    font-family: 'bebas';
    font-size: clamp(22px, 2.2vw, 42px);
    margin-bottom: 10px;
}

.abt {
    padding-right: 3%;
    padding-left: 3%;
    font-size: clamp(16px, 1.6vw, 24px);
    font-family: 'serif';
    text-align: center;
}

.buttons-conatiner {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.button {
    color: #fff;
    font-size: clamp(14px, 3vw, 24px);
    font-family: 'bebas';
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    padding: 8px 24px;
    background-color: rgba(66, 96, 83, 0.6);
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttons .button:hover {
    background-color: #466f6d;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .profile-card {
        margin-top: 5%;
    }

}

/* desktop query */

@media only screen and (min-device-width: 1025px) {

    #bgimage {
        height: 25vh;
    }


    .me-pic {
        height: 22vh;
    }

    .profile-card {
        margin-top: 5%;
    }
}