/* ----------------- highlighted items section ----------------- */

:root {
    --bg-image: url('../pics/headers/IMG_9657.jpg');
    --primary-color: rgba(48, 70, 56, 1);
    --secondary-color: rgba(66, 96, 83, 0.6);
}

/* ----------------- page & body styling ----------------- */

.header {
    position: relative;
    text-align: center;
}

#bgimage {
    position: absolute;
    background-image: var(--bg-image);
    background-size: 110%;
    background-position: center 60%;
    height: 18vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#wave {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    z-index: 5;
}

/* ----------------- profile card styling ----------------- */
/* 
.contact {
    padding: 0 50px;
    margin-top: 10%;
}

.profile-card-container {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #ccc;
}

.profile-card {
    margin-top: 20%;
    justify-content: center;
    align-items: center;
    width: 80vw;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 24px;
    padding: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-bottom: 20px;
}

.profile-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 35%;
    width: 100%;
    border-radius: 24px 24px 0 0;
    background-color: var(--primary-color);
}

.me-pic {
    position: relative;
    height: 14vh;
    border-radius: 50%;
    background-color: #313f32;
    padding: 2px;
    margin-bottom: 10px;
}

.me-pic img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}

.text-data h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    padding: 10px;
}

.name {
    font-family: 'bebas';
    font-size: clamp(22px, 2.2vw, 42px);
    margin-bottom: 10px;
}

.abt {
    padding: 0 3%;
    font-size: clamp(16px, 1.6vw, 24px);
    font-family: 'serif';
    text-align: center;
}

.buttons-conatiner {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.button {
    color: #fff;
    font-size: clamp(14px, 3vw, 24px);
    font-family: 'bebas';
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    padding: 8px 24px;
    background-color: var(--secondary-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #466f6d;
} */

/* ----------------- contact us styling ----------------- */

.contacts {
    margin-top: 30%;
    padding: 0 55px;
}

.contacts-container {
    border-bottom: 2px solid #ccc;
}

.contacts-text-container p {
    font-family: 'harmonia';
    font-size: clamp(14px, 1.2vw, 24px);
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
    line-height: 23px;
    font-weight: 100;
}

/* ----------------- policy section styling ----------------- */

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    margin-top: 5%;
}

.section {
    border-bottom: 1px solid #ccc;
}

.section:last-child {
    border-bottom: none;
}

.content h2 {
    font-family: 'bebas';
    font-size: clamp(16px, 1.3vw, 18px);
    margin-bottom: 5%;
    text-align: left;
    font-weight: 100;
}

.content p {
    font-family: 'parika';
    font-size: clamp(16px, 2vw, 32px);
    text-align: justify;
    margin-bottom: 10%;
}

/* FAQ styling */
.help-body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.help-body {
    max-width: 800px;
}

#faq {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 55px;
}

.faq-item:last-child {
    margin-bottom: 10%;
}

#faq h1,
.contacts h1 {
    font-family: 'bebas';
    font-weight: 100;
    font-size: clamp(24px, 2.5vw, 28px);
    text-align: center;
    margin-bottom: 20px;
}

.faq-item {
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.faq-header {
    padding: 10px;
    background-color: #d6dcd033;
    font-family: 'bebas';
    font-size: clamp(14px, 1.4vw, 18px);
    letter-spacing: 0.5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.faq-header:hover {
    background-color: #c1cab97d;
}

.faq-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 10px;
}

.faq-content p {
    font-family: 'harmonia';
    font-size: clamp(14px, 1.6vw, 24px);
    margin: 20px 0;
}

.section a {
    color: rgb(24, 70, 40);
}

/* ----------------- ipad media queries ----------------- */

@media only screen and (min-width: 768px) {
    .profile-card {
        margin-top: 5%;
    }
}

/* ----------------- desktop media queries ----------------- */

@media only screen and (min-width: 1025px) {
    #bgimage {
        height: 25vh;
    }

    .me-pic {
        height: 22vh;
    }

    .profile-card {
        margin-top: 5%;
    }

    .contacts {
        margin-top: 20%;
    }

    .help-body-container {
        padding: 0 55px;
    }

    .contacts-text-container,
    .faq-content p {
        max-width: 600px;
        text-align: center;
        margin-bottom: 5%;
        font-size: 16px;
    }

    .faq-content p {
        text-align: left;
    }
}