/* ----------------- page & body styling -----------------  */

.header {
    position: relative;
    text-align: center;
}

/* ----------------- background image styling -----------------  */

#bgimage {
    display: none;
}

#wave {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    z-index: 5;
    /* Ensure the SVG is below the text */
}

/* ----------------- item section ----------------- */

#item {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100vh;
}

.item-carousel-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-carousel {
    margin-bottom: 5%;
    width: 100vw;
}

#thumbnail-carousel .splide__track--draggable {
    height: 15vh;
    justify-self: center;
}

#thumbnail-carousel img {
    border-radius: 5px;
    height: 7vh;
    width: 16vw;
}

.splide__arrow {
    background-color: #ffffff00 !important;
}

.splide__track--nav>.splide__list>.splide__slide.is-active {
    border: 3px solid #00000000 !important;
}

.splide__arrow--next {
    right: -3em !important;
}

.splide__arrow--prev {
    left: -3em !important;
}

#main-carousel img {
    width: 100%;
    height: 48vh;
    align-self: center;
    border-radius: 5px;

}

#thumbnail-carousel {
    height: 50px;
    width: 70%;
}

.splide__arrow {

    top: 70% !important;
}

.splide__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.splide__slide {
    opacity: 0.6;
}

.splide__slide.is-active {
    opacity: 1;
}

/* ----------------- item text section ----------------- */

.item-text-container {
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centers the button and text horizontally */
}

.item-text-container h2 {
    font-weight: lighter;
    margin-top: 5%;
    font-size: clamp(26px, 7vw, 45px);
    font-family: 'bebas';
    margin-bottom: 10px;
}

.item-text-container h4 {
    font-size: clamp(16px, 5.5vw, 30px);
    font-family: 'bebas';
    margin-bottom: 10px;
}

.item-text-container p {
    font-size: clamp(16px, 3vw, 28px);
    padding-top: 20px;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 10%;
    text-align: center;
}

/* ----------------- item button styling -----------------  */

.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    /* Center items horizontally */
    align-items: center;
    /* Center items vertically */
    margin-top: 5%;
    margin-right: 5%;
}

.options>div {
    width: 130px;
}

.options label,
.options input {
    font-family: 'bebas';
    font-size: clamp(14px, 1.5vw, 28px);
    margin-right: 5px;
    white-space: nowrap;
}

.options select {
    font-family: 'bebas';
    font-size: clamp(14px, 2vw, 26px);
}

.color-option,
.size-option {
    margin-right: 10px;
    white-space: nowrap;

    /* Adjust spacing between color and size options */
}


.size-option input,
.color-option select,
.type-option select,
.note-option input {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    border-radius: 10px;
    border: none;
    padding: 8px;
    color: #000;
    /* Adjust width of the input field */
}

.size-option input,
.color-option select,
.type-option select {
    font-size: 14px;
    width: 80px;
}

.type-option select,
.color-option select {
    background-color: #619e7712;
    height: 4vh;
    padding: 6px 10px;
}

.note-option {
    margin-top: 25%;

}


input[type="text"]::placeholder {
    white-space: wrap;
    padding: 10px;
}

.note-option input {
    margin-top: 10%;
    width: 73vw;
    height: 10vh;
    max-width: 400px;
}



.item-text-container button {
    width: 73%;
    align-items: center;
    padding: 6px 15px;
    background-color: #3e7c541f;
    box-shadow: 0px 0px 5px rgba(7, 34, 14, 0.181);
    color: rgb(0, 0, 0);
    font-family: 'bebas';
    border: none;
    border-radius: 5px;
    font-size: clamp(18px, 3vw, 26px);
    cursor: pointer;
    margin-top: 5%;
    margin-bottom: 10px;
}

.item-text-container button:hover {
    background-color: #2b633f74;
    transition: background-color 0.2s ease;

    /* Darker background on hover */
}


/* ----------------- may also like styling -----------------  */

#waistbeads {
    margin-top: 130vh;
    display: flex;
    flex-direction: column;
}

#waistbeads h2 {
    font-size: clamp(24px, 3.5vw, 42px);
    font-family: 'bebas';
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}

.product-row {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Two columns of equal width */
    /* Space between products */
    margin-bottom: 10px;
    /* Space between rows */
}

.product {
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* Optional: background color for product */
    padding: 10px;
    /* Padding around product */

}

.product img {
    width: 100%;
    /* Make image take full width of container */
    height: auto;
    /* Optional: limit the maximum width of images */
}

.product h4 {
    font-size: clamp(16px, 3vw, 25px);
    font-family: 'bebas';
    font-weight: 200;
    margin-bottom: 15px;
}

.product p {
    margin: 10px 0;
    font-family: 'bebas';
    font-size: clamp(17px, 3vw, 26px);
}




/* media queries */

@media (min-width: 768px) and (max-width: 1024px) {

    /* ----------------- carousel ----------------- */

    #thumbnail-carousel img {
        height: 7vh;
        width: 100%;
    }

    #thumbnail-carousel .splide__slide {
        width: 150px !important;
    }

    .splide__arrow svg {
        fill: #000;
        height: 3em !important;
        width: 3em !important;
    }

    .splide__arrow--next,
    .splide__arrow--prev {
        top: 100% !important;
    }

    /* ----------------- item styling ----------------- */

    .item-text-container {
        margin-top: 10%;
    }

    .item-text-container h2 {
        margin-top: 0;
    }

    .item-text-container button {
        width: 60%;
        margin-top: 3%;
    }

    .item-text-container p {
        margin: 5% 10%;
    }

    .options label,
    .options input,
    .options select {
        font-family: 'bebas';
        font-size: clamp(18px, 3vw, 28px);
        margin-right: 5px;
    }

    .size-option {
        margin-left: 30px;
    }

    /* ----------------- recommended styling ----------------- */

    .product-row {
        grid-template-columns: repeat(3, 1fr);
        /* Three columns of equal width */
    }

    .highlighteditems img {
        width: 100%;
        object-fit: cover;
    }

}

@media only screen and (min-device-width: 1025px) {

    #bgimage {
        position: relative;
        background-image: url('../pics/headers/riverbg.jpg');
        background-size: cover;
        height: 16vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #wave {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: auto;
    }

    /* ----------------- you may like section ----------------- */

    .product-row {
        grid-template-columns: repeat(4, 1fr);
        /* Three columns of equal width */
    }

    #waistbeads {
        margin-top: 15%;
    }


    /* ----------------- carousel ----------------- */

    #item {
        display: flex;
        flex-direction: row;
        margin: 0 0;
        padding: 0px;
    }


    .item-carousel-container {
        width: 150vw;
        display: flex;
        flex-direction: row-reverse;
        align-items: normal;
        height: 70vh;
        margin: 3%;
    }


    /* main carousel */

    #main-carousel {
        width: 100%;
        margin-left: 5%;
    }

    #main-carousel img {
        width: 95%;
        height: 74vh;
        align-self: center;
        border-radius: 5px;

    }

    /* thumbnail carousel */

    #thumbnail-carousel .splide__track--draggable {
        height: 100vh;
    }


    #thumbnail-carousel img {
        height: 14vh;
        width: 9vw;
    }


    #thumbnail-carousel {
        width: 20%;
        height: 100vh;
    }


    #thumbnail-carousel .splide__slide {
        opacity: 1;
        display: flex;
        justify-content: center;
    }

    #thumbnail-carousel .splide__list {
        transform: none !important;
        display: flex;
        flex-direction: column;
        height: 100%;
        /* Adjust based on your design */
        overflow: hidden;
    }

    #thumbnail-carousel .splide__slide img {
        width: 100%;
        height: 13vh;
    }

    .splide__arrow {
        top: 55% !important;
        background-color: #ffffff !important;
    }

    .splide__arrow--next {
        right: 3em !important;
    }

    .splide__arrow--prev {
        left: 2em !important;
    }


    .splide__slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* text styling */


    .item-text-container {
        margin-top: 1%;
        width: 100%;
        margin: 3% 2%;
        align-items: normal;
    }

    .item-text-container button {
        width: 87%;
    }

    .item-text-container p {
        font-size: clamp(14px, 1.3vw, 22px);
        margin-left: 0;
        margin-right: 10%;
        text-align: left;
    }

    .options {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: left;
        font-size: clamp(16px, 1.5vw, 22px);
        width: 79%;
    }

    .color-option,
    .size-option {
        margin-right: 10%;
    }



    h2,
    h4,
    button,
    p {
        margin: 10px 0;
    }

    button:hover {
        background-color: #444;
    }

}

/* media query for mobile footer