/* ----------------- page & body styling -----------------  */


.header {
    position: relative;
    text-align: center;
}


/* ----------------- background image styling -----------------  */

#bgimage {
    position: absolute;
    background-image: url(../pics/headers/IMG_9655.jpg);
    background-size: 110%;
    background-position: center 62%;
    height: 18vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}


.header-text {
    margin-top: 40px;
}


#wave {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    z-index: 5;
    /* Ensure the SVG is below the text */
}

/* ----------------- content styling -----------------  */

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    margin: 30% 50px;
    max-width: 500px;
}

.section {
    margin-bottom: 15%;
}

.content h2 {
    font-family: 'bebas';
    font-size: clamp(22px, 3vw, 32px);
    margin-bottom: 5%;
    text-align: left;
}

.content p {
    font-family: 'parika';
    font-size: clamp(16px, 2vw, 32px);
    text-align: justify;
    margin-bottom: 10%;
}

@media (min-width: 768px) and (max-width: 1024px) {

    .content {
        margin: 5% 50px;
    }
}


@media only screen and (min-device-width: 1025px) {

    #bgimage {
        height: 25vh;
    }


    /* ----------------- content styling -----------------  */

    .content {
        margin: 5% 50px;
    }

    .content h2 {
        font-size: clamp(18px, 2.5vw, 32px);
        margin-bottom: 5%;
    }

    .content p {
        font-size: clamp(14px, 1.5vw, 32px);
    }

    /* ----------------- footer styling -----------------  */

    .footer-distributed h3 {
        margin-top: 0%;
    }

}