/* ----------------- page & body styling -----------------  */

.header {
    position: relative;
    text-align: center;
}


/* ----------------- background image styling -----------------  */

#bgimage {
    position: absolute;
    background-image: url('../pics/headers/IMG_9657.jpg');
    background-size: 110%;
    background-position: center 60%;
    height: 18vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}


.header-text {
    margin-top: 65px;
}

.header-text h1 a {
    font-size: clamp(16px, 7vw, 48px);
    /* clamp() defines a range of values for the font size
    clamp(minimum font size, increase as the viewport width increases up to a max of 19vw, maximum font size. */
    font-weight: 50;
    z-index: 2;
    text-decoration: none;
    color: white;
    font-family: 'Mernature';
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
}


#wave {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    z-index: 5;
    /* Ensure the SVG is below the text */
}

/* ----------------- filter styling -----------------  */

#filter {
    display: flex;
    flex-direction: column;
    /* Stack the header and button vertically */
    align-items: center;
    /* Center items horizontally */
    justify-content: center;
    /* Center items vertically */
}

/* #3e7c541f; #619e7717  */
#filter-button {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    font-family: 'bebas';
    margin-top: 10px;
    background-color: #619e7712;
    color: rgb(0, 0, 0);
    padding: 6px 10px;
    font-size: clamp(14px, 3vw, 18px);
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

#filter h2 {
    z-index: 99;
    margin-top: 25%;
    font-size: clamp(18px, 1.8vw, 28px);
    font-family: 'bebas';
}

#dropdown {
    display: none;
    position: absolute;
    font-family: 'bebas';
    transform: translateY(80%);
    background-color: #d4ded6e3;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#filter-button:focus+#dropdown,
#dropdown:hover {
    display: block;
}

.product {
    margin: 10px 0;
}


/* ----------------- product list ----------------- */

#waistbeads {
    margin-top: 25px;
}

.product-row {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 10px;
}

.product {
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* Optional: background color for product */
    padding: 10px;
    /* Padding around product */
}

.product a {
    text-decoration: none;
    color: black;
    font-family: 'Bebas';


}

.product h4 {
    font-size: clamp(16.5px, 1.5vw, 25px);
    margin-bottom: 15px;
    font-family: 'Bebas';
    /* delete later */

}

.product p {

    margin: 10px 0;
    font-size: clamp(17px, 2.75vw, 25px);
    /* Space above and below text */
    font-family: 'Bebas';
    /* delete later */

}

.product img {
    width: 100%;
    /* Make image take full width of container */
    height: auto;
    /* Optional: limit the maximum width of images */
}


/* media queries */

@media (min-width: 768px) and (max-width: 1024px) {
    .product-row {
        grid-template-columns: repeat(3, 1fr);
        /* Three columns of equal width */
    }

    .product img {
        width: 100%;
        height: auto;
    }

    #dropdown {
        transform: translateY(85%);
    }

}

@media only screen and (min-device-width: 1025px) {

    #bgimage {
        height: 25vh;
        background-size: cover;
    }

    #waistbeads {
        margin-top: 10px;
    }

    .product-row {
        gap: 10px;
        grid-template-columns: repeat(4, 1fr);
        /* Three columns of equal width */
        margin-right: 25px;
        margin-left: 25px;
    }

    .product img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    #dropdown {
        transform: translateY(87%);
    }

}